USE [master]
GO
/****** Object:  Database [EmployeeDb]    Script Date: 29-06-2023 10:23:39 ******/
CREATE DATABASE [EmployeeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDb]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeFirstName] [varchar](250) NULL,
	[EmployeeMiddleName] [varchar](200) NULL,
	[EmployeeLastName] [varchar](250) NULL,
	[DepartmentID] [int] NULL,
	[DepartmentName] [varchar](250) NULL,
	[Status] [bit] NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [EmployeeFirstName], [EmployeeMiddleName], [EmployeeLastName], [DepartmentID], [DepartmentName], [Status], [DateOfBirth]) VALUES (1, N'shivank', N'', N'Varshney', 1, N'Development', 1, CAST(N'2001-09-22' AS Date))
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeFirstName], [EmployeeMiddleName], [EmployeeLastName], [DepartmentID], [DepartmentName], [Status], [DateOfBirth]) VALUES (3, N'shubhneet', N'', N'Choudhary', 2, N'it', 0, CAST(N'2002-06-23' AS Date))
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeFirstName], [EmployeeMiddleName], [EmployeeLastName], [DepartmentID], [DepartmentName], [Status], [DateOfBirth]) VALUES (4, N'shubham', N'', N'singh', 3, N'sales', 1, CAST(N'2003-08-23' AS Date))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEmployee]
  @EmployeeID INT
AS
BEGIN
  DELETE FROM Employee
  WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllEmployee]
AS
BEGIN
  SELECT *
  FROM Employee;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployee]
  @EmployeeID INT
AS
BEGIN
  SELECT *
  FROM Employee
  WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEmployee]
  @FirstName VARCHAR(250),
  @MiddleName VARCHAR(200),
  @LastName VARCHAR(250),
  @DepartmentID INT,
  @DepartmentName VARCHAR(250),
  @Status BIT,
  @DateOfBirth DATE
AS
BEGIN
  INSERT INTO Employee (
    EmployeeFirstName,
    EmployeeMiddleName,
    EmployeeLastName,
    DepartmentID,
    DepartmentName,
    [Status],
    DateOfBirth
  )
  VALUES (
    @FirstName,
    @MiddleName,
    @LastName,
    @DepartmentID,
    @DepartmentName,
    @Status,
    @DateOfBirth
  );
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 29-06-2023 10:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployee]
  @EmployeeID INT,
  @FirstName VARCHAR(250),
  @MiddleName VARCHAR(200),
  @LastName VARCHAR(250),
  @DepartmentID INT,
  @DepartmentName VARCHAR(250),
  @Status BIT,
  @DateOfBirth DATE
AS
BEGIN
  UPDATE Employee
  SET
    EmployeeFirstName = @FirstName,
    EmployeeMiddleName = @MiddleName,
    EmployeeLastName = @LastName,
    DepartmentID = @DepartmentID,
    DepartmentName = @DepartmentName,
    [Status] = @Status,
    DateOfBirth = @DateOfBirth
  WHERE
    EmployeeID = @EmployeeID;
END;
GO
USE [master]
GO
